<div nz-row nzJustify="end">
  <button nz-button nzType="default" (click)="goToForm()">AddNew</button>
</div>

<br />

<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created&nbsp;By</th>
      <th>Created&nbsp;Date</th>
      <th>Updated&nbsp;By</th>
      <th>Updated&nbsp;By</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.Name }}</td>
      <td>{{ data.CreatedBy }}</td>
      <td>{{ data.CreatedDate | date: "medium" }}</td>
      <td>{{ data.UpdatedBy }}</td>
      <td>{{ data.UpdatedDate | date: "medium" }}</td>
      <td>
        <button
          type="button"
          nz-button
          nzType="default"
          (click)="goToFormWithId(data.Id)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          type="button"
          nz-popconfirm
          nzPopconfirmTitle="Are you sure delete this item ?"
          (nzOnConfirm)="confirm(data.Id)"
          (nzOnCancel)="(false)"
          nzPopconfirmPlacement="top"
          nz-button
          nzType="default"
          nzDanger
        >
          Delete
        </button>
        <!-- <button type="button" nz-button nzType="default" nzDanger>
          Delete
        </button> -->
      </td>
    </tr>
  </tbody>
</nz-table>
