<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your name!">
      <nz-input-group nzPrefixIcon="user">
        <input
          type="text"
          nz-input
          formControlName="Name"
          placeholder="Enter Your Name..."
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <button nz-button [nzType]="'primary'">Save</button>
</form>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modal Confirm"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="handleOk()"
  (nzOnCancel)="isVisible = false"
>
  <p>Do you want to save ?</p>
</nz-modal>
